/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	font-family: 'Lato',sans-serif;
}

/* primera seccion */

.navbar{
	background-color: transparent;
	border:transparent;
	font-weight: bold;

}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.icon-bar{
	color: white;

}
.primersection{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.save{
	margin-top:350px;
	margin-left: 75px;
	color: white;
	font-weight: bold;
	
}
.dos{
	font-size: 25px;
	
}
.btn{
	background-color: #41521F;
	color: white;
	border:transparent;
}

/* segunda seccion */


.textos{
	margin-top: 20%;
	margin-bottom:20%;
	font-size: 12px;
	color: #220073;
}

.titulofundacion{
	color: #A89F68;
	font-weight: bold;
}
.titulocuatro{
	color: #A89F68;
	font-weight: bold;
}
#ph{
	margin-top: 50px;
	margin-bottom: 50px;
}

/* tercera seccion */
.contenedor{
	background-color:#A89F68;
	color: white;

}

.titulotres{
	color: #41521F;
	font-weight: bold;
}

#cosita{
	width: 80%;
	margin-bottom: 100px;
	border: 5px solid white;
	margin-right: 100px;
}

.textotres{
	margin-top: 100px;
	margin-left: 150px;
	margin-bottom: 100px;
}
